
 <h1>Hello :) Misie pysie! Mam nadzieję że już wam to działa... ja tu próbowałam coś z tymi bootstrapami instalować, ale nie wiem o co chodzi dlatego trzeba to pozmieniać. Mam nadzieję, że bierzecie się do roboty</h1>